%section#fallowing
  .row
    %aside.span10.main
      %section.first.block
        %header
          .title
            Following
          .gradient
        .content
          .records
            
    %aside.span6
      = render 'shared/profile'
      = render 'shared/discussions'
      = render 'layouts/footer'
