%section#following
  .row
    %aside.span10.main
      %section.first.block
        %header
          .title
            Following
          .gradient
        .content
          .records
            = render partial: 'user', collection: @users
    %aside.span6
      = render 'shared/profile'
      = render 'shared/discussions'
      = render 'layouts/footer'
