%section.block.page#help
  %header
    .title
      = link_to 'About', '#'
      - # FIXME: Slash offsets
      %span
        \/
      About
    .gradient
    - # TODO: add .icon
  .content
    %p 
      Something about

= render 'layouts/footer'  
    