%section#home
  .row
    .span6
      / todo change this text
      %h2
        WELCOME
      %p
        Here you can record and discuss 
        with your friends book or movie 
        or game that you have just read or 
        watched or played.
        %a(title="Watch The Video" href="#") Watch The Video
    .span6
      = render 'layouts/footer'
