@import 'bootstrap/bootstrap';

// TODO: marge font-color with bootstrap
// TODO: make hover
// TODO: avatar make gradient
// TODO: remove images and make it using css
// TODO: long text cut it

/* Mixins */
@mixin profile() {
  header { height: 100%;
    .avatar, .info, .counts { float: left; margin-left: 10px; }
    .avatar { margin-left: 0px; }
    .info { width: 165px;
      .name { font-size: 24px; font-weight: bold; a { color: $gray; &:hover { color: $blueLight; } } }
      .status { font-size: 13px; font-style: italic; color: $grayLight; margin-top: 5px; }
    }
    .counts { width: 75px; color: $gray; font-size: 13px; font-weight: bold; text-align: center;
              line-height: 13px;
      div:nth-child(2) { margin-top: 4px; }
      .number { font-size: 11px; }
    }
    .actions { margin-top: 15px;
      a { margin-right: 10px;
        &:first-child { margin-right: 0; }
      }
    }
  }
  .content {
    .ff {
      .followers { margin-top: 10px; }
      .turnabout {
        ul { width: 66px * 4 + 2px * 3; }
      }
    }
  }
  &.big {
    header {
      .info { width: 238px; 
        &.full { width: 405px; }
      }
    }
  }
}

/* Variables */

/* Init */
ul, li { list-style: none; margin: 0; padding: 0; }
a, a:hover { text-decoration: none; }

/* Background */
#background {
  // TODO something wrong width float numbers
  .line { position: fixed; height: 100%; z-index: -1;
    $countLines: 8;
    $lineWidth: 100% / $countLines;
    width: $lineWidth;
    @for $i from 1 through $countLines {
      &:nth-child(#{$i}) { margin-left: $lineWidth * $i - $lineWidth; }
    }
  }
}

/* Header */
body>header {
  height: $navbarHeight;
  ul.top-nav {
    &.main { position: absolute; left: 50%; margin-left: -80px; }
    li {
      position: relative;
      &>* { cursor: pointer; }
      a { display: block; text-indent: -99999px; width: 40px; height: $navbarHeight; padding: 0 !important; line-height: 43px; }
      .hover { width: 16px; height: 16px; position: absolute; background-image: asset-url('nbm-to-hover.png', image);
               top: 23px; left: 2px; display: none; }
      .count { width: 20px; height: 20px; position: absolute; background-image: asset-url('nbm-show-count.png', image);
               top: 2px; right: -5px; color: $white; font-size: 9px; text-align: center; font-weight: 900;
               line-height: 17px;
      }
      &:hover .hover { display: block; }
      &.active { background-color: #141414;   height: $navbarHeight - 1;
                 $shadow: 0 1px 6px rgba(255,255,255,.35), inset 0 1px 10px rgba(0,0,0,1);
                 @include box-shadow($shadow);
      }
      &.with-text a { text-indent: 5px; }
      &.home a { background: asset-url('nbm-home.png', image) no-repeat 7px 6px; }
      &.profile a { background: asset-url('nbm-profile.png', image) no-repeat 7px 6px; }
      &.message a { background: asset-url('nbm-message.png', image) no-repeat 4px 6px; }
      &.search {
        .wrapper { margin-left: 143px; position: relative; }
        a { background: asset-url('nbm-search.png', image) no-repeat 6px 6px; }
        .input { position: absolute; top: 0; left: 6px; }
      }
      &.setting a { background: asset-url('nbm-setting.png', image) no-repeat 5px 6px; }
      &.sign-in {
        a { width: 86px; background: asset-url('nbm-signin.png', image) no-repeat 55px 6px; }
        .hover { left: 50px; }
      }
      &.sign-out a { background: asset-url('nbm-signout.png', image) no-repeat 5px 6px; }
    }
  }
}

/* Middle */
#main-wrapper { margin-bottom: 20px;
  .main { position: relative; }
}

/* Footer */
#footer { @include gradient-vertical(#404040, #292929); padding: 10px; border: 0;
  font-weight: bold;
  .brand { padding: 0; }
  .social { float: right;
    &>* { text-indent: -99999px; display: block; float: left; }
    .twitter { background-image: asset-url('twitter-icon.png', image); width: 31px; height: 23px;
               margin-right: 5px;
    }
    .facebook { background-image: asset-url('facebook-icon.png', image); width: 13px; height: 26px; }
  }
  .by { color: $gray; font-size: 11px; margin-top: 5px; }
  .links { ul li { margin-right: 5px; display: inline-block;
      a { color: $gray; font-size: 11px; &:hover { color: $linkColorHover; } }
    }
  }
}

/* Other */
.brand { float: left; display: block; font-size: 20px; font-weight: bold;
  padding: (($navbarHeight - $baseLineHeight) / 2) 20px (($navbarHeight - $baseLineHeight) / 2) 0;
  color: $navbarBrandColor;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.5);
  @include transition(all .2s linear);
  &:hover { text-decoration: none; }
}

.block { @include border-radius(8px); min-height: 20px; margin: 20px 0; border: 1px solid #d1d1d1; background-color: #fff;
  $shadow: 0 5px 20px rgba(0,0,0,.7); @include box-shadow($shadow);
  &>header { border-bottom: 1px solid #f0f0f0; padding: 10px; @include clearfix(); overflow: hidden; height: 100%;
              position: relative;
    &>* { z-index: 2; position: relative; }
    .gradient { width: 100%; height: 20px; @include gradient-vertical($white, #f6f6f6); position: absolute;
                bottom: 0; left: 0; z-index: 1;
    }
    .title { color: $gray; font-size: 20px; font-weight: bold; float: left; }
    .icon { float: right; }
  }
  .form { padding: 10px; }
  .content { padding: 10px; }

  /* ----------- Shared Blocks */
  /* Profile */
  &#profile {
    @include profile();
  }

  /* Discussions */
  &#discussions {
    header {
      .icon { width: 22px; height: 20px; background-image: asset-url('discussions-icon.png', image); }
    }
    .content {
      .discus { @include clearfix();
        .first, .second { float: left; margin-left: 10px; width: 318px / 2 - 5; }
        .first { margin-left: 0; }
        .title { color: $blueLight; font-weight: bold; font-size: 15px; }
        ul { margin-top: 10px;
          li { background: asset-url('list-style-icon.png', image) no-repeat 0px 5px; padding-left: 15px;
            a { color: $gray; }
            .name, .comments { &:hover { color: $blueLight; } }
            .name { font-size: 11px; }
            .comments { font-size: 10px; font-style: italic; font-weight: bold; }
          }
        }
      }
    }
  }
}

.record { color: $gray; @include clearfix(); padding: 10px;
  .avatar, .second { float: left; }
  .second { margin-left: 10px; width: 490px; }
  header { @include clearfix();
    .title { background: asset-url('new-discussion.png', image) no-repeat; padding-left: 25px; font-size: 15px;
             float: left;
      span { font-weight: bold; }
    }
    .name { float: left; font-size: 15px; font-weight: bold;
      a { color: $gray; &:hover { color: $blueLight; } }
    }
    .date { font-size: 10px; font-weight: bold; float: right; }
  }
  .middle { margin: 5px 0 13px 0;
    .title { font-size: 13px; span { font-weight: bold; } }
    .description { font-size: 12px; }
  }
  footer { margin-top: 5px;
    .stars {
      .star { background-image: asset-url('star-record.png', image); width: 19px; height: 19px; float: left; }
    }
    .like { display: block; margin: -3px 0 0 5px; float: left; height: 24px;
      .field { color: $white; font-size: 12px; font-weight: bold; padding-top: 2px; text-align: center; }
      &.one { width: 39px; background-image: asset-url('like-button-one.png', image);
        .field { padding-left: 17px; width: 20px; }
      }
      &.two { width: 44px; background-image: asset-url('like-button-two.png', image);
        .field { padding-left: 20px; width: 20px; }
      }
    }
    .discussions {
      &>* { float: left; margin-left: 5px; }
      .item { display: block; margin-top: -3px; height: 24px;
        .field { color: $white; font-size: 12px; font-weight: bold; padding-top: 2px;
          text-align: center;
        }
        &.one { width: 39px; background-image: asset-url('discussion-button-one.png', image);
          .field { padding-left: 17px; width: 20px; }
        }
        &.two { width: 44px; background-image: asset-url('discussion-button-two.png', image);
          .field { padding-left: 20px; width: 20px; }
        }
      }
      .new { background-image: asset-url('new-discussion.png', image); width: 21px; height: 19px;
        cursor: pointer;
      }
    }
    .social { width: 38px; margin: 0 auto;
      &>* { display: block; text-indent: -99999px; float: left; }
      .twitter { background-image: asset-url('twitter-share-record-icon.png', image); width: 24px;
        height: 19px;
      }
      .facebook { background-image: asset-url('facebook-share-record-icon.png', image); width: 11px;
        height: 19px; margin-left: 3px;
      }
    }
    .about { float: right; cursor: pointer; width: 20px; height: 19px;
      background-image: asset-url('more.png', image);
    }
    .reply { float: right; cursor: pointer; width: 20px; height: 19px;
      background-image: asset-url('reply.png', image);
    }
  }
}

.avatar { width: 58px; height: 58px;
  img { @include border-radius(5px);
    $shadow: 0 1px 5px rgba(0,0,0,.4);
    @include box-shadow($shadow);
  }
}

.turnabout {
  .alt { color: $blueLight; font-size: 11px; font-weight: bold; span { font-size: 15px; } }
  .wrapper { margin-top: 10px; @include clearfix(); }
  .left, .right { width: 19px; height: 26px; cursor: pointer; margin-top: 66px / 2 - 26px / 2;  }
  .left { background-image: asset-url('left-arrow.png', image);
    &:hover { background-image: asset-url('left-arrow-hover.png', image); }
  }
  .right { background-image: asset-url('right-arrow.png', image);
    &:hover { background-image: asset-url('right-arrow-hover.png', image); }
  }
  .left, .right, ul { float: left; }
  ul { white-space: nowrap; overflow: hidden; font-size: 0; margin: 0px 4px;
    height: 66px;
    li { display: inline-block; margin-left: 2px; position: relative; cursor: pointer; width: 66px; height: 66px;
      &:first-child { margin-left: 0 !important; }
      &:hover {
        .hover { display: block; }
      }
      .avatar { padding: 4px 0 0 4px; }
      .hover { background-image: asset-url('avatar-borders.png', image); width: 100%; height: 100%;
        position: absolute; top: 0; left: 0; display: none;
      }
    }
  }
}


@import 'plugins';
@import 'pages';
@import 'sessions';
@import 'records';
@import 'users';