@import "bootstrap/bootstrap";

// todo marge font-color with bootstrap
// todo make hover
// todo avatar make gradient
// todo remove images and make it using css
// todo long text cut it

/* Mixins */

/* Variables */

/* Init */
ul, li { list-style: none; margin: 0; padding: 0; }
a, a:hover { text-decoration: none; }

/* Background */
#background {
  // todo something wrong width float numbers
  .line { position: absolute; height: 100%; z-index: -1;
    $countLines: 8;
    $lineWidth: 100% / $countLines;
    width: $lineWidth;
    @for $i from 1 through $countLines {
      &:nth-child(#{$i}) { margin-left: $lineWidth * $i - $lineWidth; }
    }
  }
}

/* Header */
body>header {
  height: $navbarHeight;
  ul.top-nav {
    &.main { position: absolute; left: 50%; margin-left: -80px; }
    li {
      position: relative;
      &>* { cursor: pointer; }
      a { display: block; text-indent: -99999px; width: 40px; height: $navbarHeight; padding: 0 !important; line-height: 43px; }
      .hover { width: 16px; height: 16px; position: absolute; background-image: asset-url('nbm-to-hover.png', image);
               top: 23px; left: 2px; display: none; }
      .count { width: 20px; height: 20px; position: absolute; background-image: asset-url('nbm-show-count.png', image);
               top: 2px; right: -5px; color: $white; font-size: 9px; text-align: center; font-weight: 900;
               line-height: 17px;
      }
      &:hover .hover { display: block; }
      &.active { background-color: #141414;   height: $navbarHeight - 1;
                 $shadow: 0 1px 6px rgba(255,255,255,.35), inset 0 1px 10px rgba(0,0,0,1);
                 @include box-shadow($shadow);
      }
      &.with-text a { text-indent: 5px; }
      &.home a { background: asset-url('nbm-home.png', image) no-repeat 7px 6px; }
      &.sign-in {
        a { width: 86px; background: asset-url('nbm-signin.png', image) no-repeat 55px 6px; }
        .hover { left: 50px; }
      }
      &.sign-out a { background: asset-url('nbm-signout.png', image) no-repeat 5px 6px; }
    }
  }
}

/* Footer */
#footer { @include gradient-vertical(#404040, #292929); padding: 10px; border: 0;
  font-weight: bold;
  .brand { padding: 0; }
  .social { float: right;
    &>* { text-indent: -99999px; display: block; float: left; }
    .twitter { background-image: asset-url('twitter-icon.png', image); width: 31px; height: 23px;
               margin-right: 5px;
    }
    .facebook { background-image: asset-url('facebook-icon.png', image); width: 13px; height: 26px; }
  }
  .by { color: $gray; font-size: 11px; margin-top: 5px; }
  .links { ul li { margin-right: 5px; display: inline-block;
      a { color: $gray; font-size: 11px; &:hover { color: $linkColorHover; } }
    }
  }
}

/* Other */
.brand { float: left; display: block; font-size: 20px; font-weight: bold;
  padding: (($navbarHeight - $baseLineHeight) / 2) 20px (($navbarHeight - $baseLineHeight) / 2) 0;
  color: $navbarBrandColor;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.5);
  @include transition(all .2s linear);
  &:hover { text-decoration: none; }
}

.block { @include border-radius(8px); min-height: 20px; margin: 20px 0; border: 1px solid #d1d1d1; background-color: #fff;
  $shadow: 0 5px 20px rgba(0,0,0,.7); @include box-shadow($shadow);
  &>header { border-bottom: 1px solid #f0f0f0; padding: 10px; @include clearfix(); overflow: hidden; height: 100%;
           position: relative;
    &>* { z-index: 2; position: relative; }
    .gradient { width: 100%; height: 20px; @include gradient-vertical($white, #f6f6f6); position: absolute;
              bottom: 0; left: 0; z-index: 1;
    }
    .title { color: $gray; font-size: 20px; font-weight: bold; float: left; }
    .icon { float: right; }
  }
  .form { padding: 10px; }
  .content { padding: 10px; }
}

@import "static_pages";
@import "sessions";