#wall {
  &>.form { border-bottom: 1px solid #f0f0f0;
    footer { 
      .stars { float: left; margin-top: 5px;
        .star { cursor: pointer; background-image: asset-url('star.png', image); width: 25px; height: 26px;
          float: left;
          &:hover, &.full, &.hover { background-image: asset-url('star-full.png', image); }
        }
      }
    }
  }
}