%header
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        = link_to "Bummer", root_path, class: "brand"
        .nav-collapse
          %ul.nav.pull-right.top-nav
            %li.text.signin
              = link_to "Sign in", "#"
              .hover